html {
  background: #000;
}

body {
  background: #000; 
}

.cursor-cw {
  cursor: url("./assets/cursor/cursor-white-stroke.png"), auto !important;  
}

.cursor-co {
  cursor: url("./assets/cursor/cursor.png"), auto !important;  
}

.hover\:bg-gray {
  transition: all 0.2s ease-in;
}

.hover\:bg-gray:hover {
  background: rgb(39, 38, 38);
  cursor: pointer;
}
